@font-face {
    font-family: 'Garamond';
    font-weight: regular;
    font-style: normal;
    src: url(~assets/fonts/garamond-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Garamond';
    font-weight: bold;
    font-style: normal;
    src: url(~assets/fonts/garamond-bold.ttf) format('truetype');
}


