$bg-primary: #F7F5ED;
$bg-secondary: #101010;
$bg-tertiary: #FFFFFF;
$text-primary: #FF4A4A;
$text-secondary: rgb(160, 160, 160);
$border-primary:rgb(209, 209, 209);
$text-marquee: #9C9C9C;
$bg-marquee: #757575;